<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Crear Paciente </span></div>
        <div class="panel-body">
            <div class="formcontainer">
                <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                    <input type="hidden" ng-model="ctrl.patient.idPatient" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="name">Nombre</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.patient.name" id="name" class="username form-control input-sm" placeholder="Ingresar Nombre del paciente" required ng-minlength="3"/>
                            </div>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="rut">Rut</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.patient.nip" id="nip" class="form-control input-sm" placeholder="Ingresar Rut del Paciente" required ng-pattern="ctrl.onlyIntegers"/>
                            </div>
                        </div>
                    </div>
     
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="age">Edad</label>
                            <div class="col-md-7">
                                <input type="number" ng-model="ctrl.patient.age" id="age" class="form-control input-sm" placeholder="Ingresar Edad del Paciente"  min="0" max="150" required/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="sex">Sexo</label>
                            <div class="col-md-7">
                            	<select ng-model="ctrl.patient.sex" id="sex" class="form-control input-sm" required>
								    <option value="" selected disabled>Seleccione Sexo del Paciente</option>
								    <option value="Hombre">Hombre</option>
								    <option value="Mujer">Mujer</option>
								    <option value="Desconocido"> Desconocido</option>
								  </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="birthDate">Fecha Nacimiento</label>
                            <div class="col-md-7">
                                <input type="date" ng-model="ctrl.patient.birthDate" id="birthDate" class="form-control input-sm" placeholder="Ingresar Fecha de Nacimiento del Paciente" required/>
                            </div>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit"  value="{{!ctrl.patient.idPatient ? 'Agregar' : 'Actualizar'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid || myForm.$pristine">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Limpiar Formulario</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Lista de Pacientes </span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
	                    <tr>
	                        <th>ID</th>
	                        <th>Nombre</th>
	                        <th>Rut</th>
	                        <th>Edad</th>
	                        <th>Sexo</th>
	                        <th>Fecha Nacimiento</th>
	                        <th width="100"></th>
	                        <th width="100"></th>
	                        <th width="100"></th>
	                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in ctrl.getAllPatients()">
                        <td>{{patient.idPatient}}</td>
                        <td>{{patient.name}}</td>
                        <td>{{patient.nip}}</td>
                        <td>{{patient.age}}</td>
                        <td>{{patient.sex}}</td>
                        <td>{{patient.birthDate | date:'dd/MM/yyyy'}}</td>
                        <td><a ui-sref="document({patientId: {{patient.idPatient}}  })" class="btn btn-info">Documentos</a></td>
                        <td><button type="button" ng-click="ctrl.editPatient(patient.idPatient)" class="btn btn-success custom-width">Editar</button></td>
                        <td><button type="button" ng-click="ctrl.removePatient(patient.idPatient)" class="btn btn-danger custom-width">Eliminar</button></td>
                    </tr>
                    </tbody>
                </table>      
            </div>
        </div>
    </div>
</div>